
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Student attanding system</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <style>
        body {
            background: rgb(21,4,133);
            background: linear-gradient(90deg, rgba(21,4,133,1) 0%, rgba(89,9,149,1) 48%, rgba(198,42,136,1) 92%);
            color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#14274e;">

        <div class="collapse navbar-collapse " id="navbarNav">
            <div class="container">
                <a class="navbar-brand" href="#">Student Attandance Managament System</a>
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item mr-5">
                        <a class="nav-link btn btn-danger text-white" href="/Login/AdminLogin">Admin Login</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link btn btn-primary text-white" href="/Login/StudentLogin">Student Login</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link btn btn-success text-white" href="/Login/TeacherLogin">Teacher Login</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="title text-center " style="margin-top:150px;">
        <div class="container w-50">
            <h1 class="display-4">Welcome to Student Attandance Managament System</h1>
            <p class="lead">Made by Muhammet & Abdullah</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Started!</a>
        </div>

    </div>

    <section id="about" style="margin-top:200px;background-color:#14274e;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center p-5">
                    <h2 class="section-heading text-white">We've got what you need!</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">Manage student attendance in an efficient way and in no time! Have Teacher's Portal for adding and checking attendance. Have Admin Portal for deleting Teacher's account.</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-paper-plane  mb-3 sr-icons"></i>
                        <h3 class="mb-3">LogIn</h3>
                        <p class="text-muted mb-0">Teacher Portal</p>
                        <p class="text-muted mb-0">Student Portal</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-edit  mb-3 sr-icons"></i>
                        <h3 class="mb-3">Manage Attendance</h3>
                        <p class="text-muted mb-0">Teacher Portal</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="far fa-4x fa-trash-alt mb-3 sr-icons"></i>
                        <h3 class="mb-3">Academic Management</h3>
                        <p class="text-muted mb-0">Manager Portal</p>
                    </div>
                </div>
            </div>

        </div>
        <footer style="margin-top:40px;">
            <p class="text-center p-3">© 2020 Muhammet Aksoy-Abdullah Oranqai</p>
        </footer>
    </section>
</body>
</html>