@model WebApplication1.Models.ViewModel.AttendanceViewModel
@{
    ViewBag.Title = "AttandanceHistory";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h3 class="bg-danger p-4 text-white">AttandanceHistory</h3>

<table class="table table-bordered ">
    <tr class="bg-primary" style="color:white;">
        <td>Date</td>
        <td>StudentName-Surname</td>
        <td>CourseName</td>
        <td>Present or Absent?</td>
    </tr>
    @foreach (var item in Model.AttendanceList)
    {
        <tr>
            <td> @item.Date </td>
            <td> @(item.StudentName + " " + item.StudentSurname) </td>
            <td> @item.CourseName </td>
            <td>
                @if (item.IsPresent == true)
                {
                    <label class="text-success"> Present </label>
                }
                else
                {
                    <label class="text-danger"> Absent </label>
                }
            </td>
        </tr>
    }



</table>